/* reset */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

.hero {
  /*background: url(https://imagedelivery.net/EaRd-fcN34Sf8k67-Dm-wQ/85edf392-1460-4a89-5850-b0cf39a67900/width=3840)*/
  /*  center center no-repeat;*/

  background: url(hero.webp) center center no-repeat;
  background-size: cover;
  min-height: 800px;
}

section {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
}
p {
  font-size: 26px;
  line-height: 1.3;
}

/* Demo stuff */
.scroll-reveal > * {
  /* first make the text semi transparent, and then create a linear-gradient background
     then clip on the text
  */
  color: hsl(0 0% 100% / 0.2);
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;

  /* Then make the background size 50%, and cut it at the end (no-repeat) */
  /*background-size: 50% 100%;*/
  background-size: 0% 100%;
  background-repeat: no-repeat;

  /* Then do the animation and then link to scroll */
  /*animation: scroll-reveal 2s linear forwards;*/
  animation: scroll-reveal linear forwards;
  /* !!! animation-timeline is what makes it change background size when scroll.
     But as 2023/12/31, it's not supported by firefox and safari yet.*/
  animation-timeline: view();
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
